.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card .card-img-top {
  height: 150px;
  object-fit: cover;
  object-position: center top; /* Ajusta la posición de la imagen */
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon-row span {
  margin: 2px; /* Puedes ajustar este valor según tu preferencia para espaciar los iconos */
}

.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
