.background {
  position: relative;
  background-image: url("https://cocosolution.com/cms/uploads/1657204741-o_1fj38p0rk1m0oc6fjbpfda4k1a.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 5vh;
}

.social-icons-container {
  background-color: rgba(33, 89, 209, 0.668);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  padding: 5px; /* Ajusta este valor según sea necesario para agregar espacio interno al contenedor */
  border-radius: 10px;
}

.social-icons-container a {
  font-size: 20px;
  color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}
