.content {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

body {
  background: linear-gradient(to right, #9fe8ebdf, #479ed5d5, #2a23f6ae);
  margin: 0; /* Asegúrate de quitar el margen predeterminado del cuerpo para que el degradado cubra todo el fondo */
}

.fs-n {
  font-size: 1rem;
}
.fs-text-footer {
  font-size: 0.8rem;
}
.fs-icons-footer {
  font-size: 0.8rem;
}

/* Tamaños de fuente responsivos */
@media (min-width: 576px) {
  .fs-sm-n {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .fs-md-n {
    font-size: 1.1rem;
  }
  .fs-md-footer {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .fs-lg-n {
    font-size: 1.2rem;
  }
  .fs-lg-icons {
    font-size: 1.6rem;
  }
  .fs-lg-icons-footer {
    font-size: 1.2rem;
  }
  .fs-lg-text-form {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .fs-xl-n {
    font-size: 1.5rem;
  }
  .fs-xl-icons {
    font-size: 2.2rem;
  }
  .fs-xl-icons-footer {
    font-size: 1.6rem;
  }
  .fs-xl-text-form {
    font-size: 1.8rem;
  }
  .fs-xl-button {
    font-size: 1.4rem;
  }
  .fs-xl-text-project {
    font-size: 1.4rem;
  }
}

@media (min-width: 1400px) {
  .fs-xxl-n {
    font-size: 1.2rem;
  }
}
